anyio==4.2.0 ; python_version >= "3.11" and python_version < "3.13"
certifi==2023.11.17 ; python_version >= "3.11" and python_version < "3.13"
h11==0.14.0 ; python_version >= "3.11" and python_version < "3.13"
httpcore==1.0.2 ; python_version >= "3.11" and python_version < "3.13"
httpx-sse==0.4.0 ; python_version >= "3.11" and python_version < "3.13"
httpx==0.26.0 ; python_version >= "3.11" and python_version < "3.13"
idna==3.6 ; python_version >= "3.11" and python_version < "3.13"
sniffio==1.3.0 ; python_version >= "3.11" and python_version < "3.13"
